#skills {
  background: rgb(189, 130, 57);
}
.hero {
  min-height: 100vh;
}
.info {
  color: cornsilk;
}
#about {
  background: rgba(184, 91, 11, 0.776);
  color: black;
}
#contact {
  font-size: 4rem;
}
.skills-list {
  font-size: 3rem;
  margin: 2rem;
}

.main-children {
  min-height: 87vh;
}
